# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]

# Virtual environmentsenv/
env/
.venv/

# Distribution / packaging
.Python
build/
dist/
*/*.egg-info/

# IDE and OS specific files
.idea/
*.iml
.vscode/
.DS_Store

# Testing / local data
.coverage

# DB test
data/vault/

# Sqlite
:memory:*
data/engine.db

# Roo
.roo*

# Test artifacts
community_listening_engine.egg-info/dependency_links.txt
community_listening_engine.egg-info/PKG-INFO
community_listening_engine.egg-info/SOURCES.txt
community_listening_engine.egg-info/top_level.txt
